html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.whole_box
{
    
    background-color: #fafbfc;
    width: 100%;
    height: 100%;
}
.top_box
{
    width: 100%;
    height: 80px;
    
    display: flex;
}
.logo_box
{
    width: 50%;
    height: 80px;  
    text-align: right;
}

.logo
{
    position: relative;
    left: 89.5px;
    cursor: pointer;
    width: 179px;
    height: 73px;
}

.version_box
{
    height: 13px;
    position: relative;
    top: 55px;
    left: 70px;
}
.version_box img
{
    width: 38px;
    height: 13px;
}

.login_box
{
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.login_img
{   
    width: 34px;
    height: 34px;
    margin-right: 4.3%;
    cursor: pointer;

}

.content_box
{
    width: 100%;
    height: 68%;
    background-color: white;
}

.controll_box
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    
}

.white_box
{
    margin-right: 5%;
    width: 155px;
    height: 34px;
    background-image: url("mob_controll_img/m_bg_menu@2x.png");
    background-size: 155px 34px;
    display: flex;
    align-items: center;
}
.collect_btn
{
    cursor: pointer;
}
.collect_btn img
{
    margin-top: 3px;
    width: 50px;
    height: 34px;
}
.file_btn
{
    
    cursor: pointer;
}
.file_btn img
{
    margin-top: 3px;
    width: 34px;
    height: 34px;
}
.picture_btn
{
    margin-left: 3px;
    cursor: pointer;
}
.picture_btn img
{
    margin-top: 3px;
    width: 34px;
    height: 34px;
}
.ptct_btn
{
    
    cursor: pointer;
}

.ptct_btn img
{
    margin-top: 3px;
    width: 34px;
    height: 34px;
}

.manual_btn
{
    background-image: url("mob_controll_img/구성 요소 122 – 1@2x.png");
    height: 34px;
    width: 93px;
    cursor: pointer;
    background-size: 93px 34px;
}

.manual_btn:active
{
    background-image: url("./mob_controll_img/m_button_manual_highlighted@2x.png");
}

.selected_btn
{
    background-image: url("mob_controll_img/m_button_selected@2x.png");
    height: 34px;
    width: 93px;
    cursor: pointer;
    background-size: 93px 34px;
}

.selected_btn:active
{
    background-image: url("mob_controll_img/m_button_selected_highlighted@2x.png");
}

.auto_btn
{
    background-image: url("mob_controll_img/m_button_auto@2x.png");
    height: 34px;
    width: 93px;
    cursor: pointer;
    background-size: 93px 34px;
}

.auto_btn:active
{
    background-image: url("mob_controll_img/m_button_auto@2x.png");
}

.setting_btn
{
    height: 34px;
    margin-left: 8px;
    cursor: pointer;
}

.setting_btn img
{
    width: 34px;
    height: 34px;
}
.direction_box
{
    
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre_btn_box
{
    width: 167px;
    height: 43px;
    cursor: pointer;
    background-image: url("mob_controll_img/m_button_previous@2x.png");
    background-size: 167px 43px;
}

.pre_btn_box:active
{
    background-image: url("mob_controll_img/action_m_button_previous@2x.png");
}

.next_btn_box
{
    width: 167px;
    height: 43px;
    cursor: pointer;
    background-image: url("mob_controll_img/m_button_next@2x.png");
    background-size: 167px 43px;
}

.next_btn_box:active
{
    background-image: url("mob_controll_img/action_m_button_next@2x.png");
}

