html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.whole_box
{
    
    background-color: #fafbfc;
    width: 100%;
    height: 100%;
}
.top_box
{
    width: 100%;
    height: 80px;
    
    display: flex;
}
.logo_box
{
    width: 50%;
    height: 80px;  
    text-align: right;
}

.logo
{
    position: relative;
    left: 89.5px;
    cursor: pointer;
}

.version_box
{
    height: 13px;
    position: relative;
    top: 55px;
    left: 70px;
}

.login_box
{
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.login_img
{   
    width: 34px;
    height: 34px;
    margin-right: 4.3%;
    cursor: pointer;

}

.content_box
{
    width: 100%;
    height: 70%;
    background-color: white;
}

.controll_box
{
    
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.white_box
{
    width: 174px;
    height: 34px;
    background-color: white;
    border-radius: 17px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-left: 5%;
    
}
.collect_btn
{
    cursor: pointer;
}
.file_btn
{
    margin-left: 8px;
    cursor: pointer;
}

.picture_btn
{
    margin-left: 3px;
    cursor: pointer;
}
.ptct_btn
{
    margin-left: 5px;
    cursor: pointer;
}

.manual_btn
{
    margin-left: 9%;
    cursor: pointer;
}

.setting_btn
{
    margin-left: 16px;
    cursor: pointer;
}
.direction_box
{
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre_btn_box
{
    background-image: url("mob_controll_img/사각형\ 1454.png");
    width: 183px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.next_btn_box
{
    background-image: url("mob_controll_img/사각형\ 1454.png");
    width: 183px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.direction_box img
{
    position: relative;
    top: -3px;
}

