@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
    width: 100%;
    height: 100%;
}

.contents_wrap {
    height: 46%;
    background-image: url("./mob_homepage_img/마스크\ 그룹\ 12@2x.png");
    background-size: 100% 100%;
}

iframe
{
    width: 1000px;
    height: 500px;
}