html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: "Roboto";
}
.whole_box
{
    
    background-color: #fafbfc;
    width: 100%;
    height: 100%;
}
.top_box
{
    width: 100%;
    height: 74px;
    display: flex;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.logo_box
{
    width: 50%;
    height: 74px;  
    text-align: right;
}

.logo
{
    position: relative;
    left: 89.5px;
    width: 179px;
    height: 73px;
}

.version_box
{
    height: 13px;
    position: relative;
    top: 55px;
    left: 70px;
}
.version_box img
{
    width: 38px;
    height: 13px;
}

.login_box
{
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.login_img
{   
    width: 34px;
    height: 34px;
    margin-right: 4.3%;
    

}

.content_box
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 68%;
    background-color: white;
}

.controll_box
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    
}

.white_box
{
    margin-right: 3%;
    width: 155px;
    height: 34px;
    background-image: url("mob_controll_img/m_bg_menu@2x.png");
    background-size: 155px 34px;
    display: flex;
    align-items: center;
}

.collect_btn img
{
    margin-top: 3px;
    width: 50px;
    height: 34px;
}

.file_btn img
{
    margin-top: 3px;
    width: 34px;
    height: 34px;
}
.picture_btn
{
    margin-left: 3px;
    
}
.picture_btn img
{
    margin-top: 3px;
    width: 34px;
    height: 34px;
}
.ptct_btn
{
    
    
}

.ptct_btn img
{
    margin-top: 3px;
    width: 34px;
    height: 34px;
}

.manual_btn
{
    background-image: url("mob_controll_img/구성 요소 122 – 1@2x.png");
    height: 34px;
    width: 93px;
    
    background-size: 93px 34px;
}

.manual_btn:active
{
    background-image: url("./mob_controll_img/m_button_manual_highlighted@2x.png");
}


.auto_btn
{
    background-image: url("mob_controll_img/m_button_auto@2x.png");
    height: 34px;
    width: 93px;
    
    background-size: 93px 34px;
}

.auto_btn:active
{
    background-image: url("mob_controll_img/m_button_auto@2x.png");
}

.setting_btn
{
    height: 34px;
    margin-left: 8px;
    
}

.setting_btn img
{
    width: 34px;
    height: 34px;
}
.holding
{
    height: 34px;
    margin-left: 11px;
}

.holding img
{
    width: 34px;
    height: 34px;
}
.direction_box
{
    
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre_btn_box
{
    width: 167px;
    height: 43px;
    
    background-image: url("mob_controll_img/m_button_previous@2x.png");
    background-size: 167px 43px;
}

.pre_btn_box:active
{
    background-image: url("mob_controll_img/action_m_button_previous@2x.png");
}

.next_btn_box
{
    width: 167px;
    height: 43px;
    
    background-image: url("mob_controll_img/m_button_next@2x.png");
    background-size: 167px 43px;
}

.next_btn_box:active
{
    background-image: url("mob_controll_img/action_m_button_next@2x.png");
}

.file_open
{
    display: none;
    background-color: white;
    margin-top: 1.09%;
    width: 100%;
    height: 98.9%;
    overflow: scroll;
}

.file_open_pop
{
    background-color: rgb(0, 0, 0, 0.5);
}

.file_box
{
    width: 94%;
    height: 52px;
    margin:  0 auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.file_box_active
{
    background-color: rgb(250, 192, 153, 0.5);
}
.num
{
    margin-left: 14px;
    font-size: 16px;
}

.file_icon
{
    margin-left: 11px;
    width: 25px;
    height: 34px;
}

.textbox
{
    margin-left: 15px;
    height: 39px;
    width: 65%;
    
}

.file_name
{
    font-size: 16px;
    font-weight: bolder;

}

.day
{
    font-size: 14px;
    
}
.delete_box
{
    margin-left: 2px;
    width: 20px;
    height: 20px;
}
.delete
{
    width: 20px;
    height: 20px;

}
.file_pop
{
    display: none;
}

.file_back_img
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("mob_controll_img/사각형\ 1653@2x.png");
    background-size: 311px 197px;
    width: 311px;
    height: 197px;
}   

.x_img
{
    margin-top: 16px;
    background: url("mob_controll_img/modal_icon_expel@2x.png");
    width: 74px;
    height: 74px;
    background-size: 74px 74px;
}
.yes_no
{
    margin-top: 12.5px;
    display: flex;
    justify-content: center;
}
.yes_no img
{
    width: 144px;
    height: 34px;
}
.can_delete
{
    height: 50.9px;
    width: 311px;
}

.attendance
{
    display: none;
    width: 100%;
    height: 100%;
}
.attendance_background
{
    background-color: rgb(0,0,0,0.5);
}
.att_top
{
    height: 26px;
    width: 100%;
    display: flex;
    align-items: center;
}
.att_num
{
    font-size: 13px;
    font-family: "Roboto";
    margin-left: 5.3%;
    font-weight: bold;
    width: 46.4%;
}
.att_top_save img
{
    width: 156px;
    height: 26px;
}

.att_top_save
{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 4%;
    
}

.att_content
{
    width: 95%;
    height: 87%;
    margin: 0px auto;
    overflow: scroll;
    
}

.att_user_box
{
    width: 97%;
    height: 52px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-bottom: 8px;
    
}
.att_user_box_active
{
    background-color: rgb(250, 192, 153, 0.5);
}

.att_usericon
{
    background-image: url("mob_controll_img/profile_image@2x.png");
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
    margin-left: 10px;
}

.att_textbox
{
    width: 73%;
    
    height: 42px;
    margin-left: 10px;

}
.att_name
{
    font-size: 16px;
    font-weight: bold;
}

.att_usermail
{
    margin-top: 3px;
    font-size: 14px;
}

.att_delete
{
    background-image: url("./mob_controll_img/close_white_24dp.png");
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin-left: 1%;
}

.att_pop
{
    display: none;
}

.att_file_back_img
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("mob_controll_img/사각형\ 1653@2x.png");
    background-size: 311px 197px;
    width: 311px;
    height: 197px;
}   

.att_x_img
{
    margin-top: 16px;
    background: url("mob_controll_img/modal_icon_expel@2x.png");
    width: 74px;
    height: 74px;
    background-size: 74px 74px;
}
.att_yes_no
{
    margin-top: 12.5px;
    display: flex;
    justify-content: center;
}
.att_yes_no img
{
    width: 144px;
    height: 34px;
}
.att_can_delete
{
    height: 50.9px;
    width: 311px;
}

.option_box
{
    display: none;
    width: 343px;
    height: 109px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 61%;
    box-shadow: 1px 1px 10px 2px rgb(240, 240, 240);
    border: 1px solid rgb(235, 235, 235);
}
.option_top
{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 12px;
    font-weight: bold;
}
.option_bottom
{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
}
.option_top img
{
    height: 15px;
}
.option_top input
{
    display: none;
}
.option_top input[type="checkbox"] + label 
{
    background: url("mob_controll_img/check_off@2x.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    
}
.option_top input[type="checkbox"]:checked + label 
{
    background: url("mob_controll_img/check_on@2x.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.option_bottom input
{
    display: none;
}

.option_bottom label
{
    margin-top: 5px;
}
.background_blur input[type=radio]+label
{
    margin-left: 7px;
    display: inline-block;
    background: url("./mob_controll_img/option_blur_off@2x.png");
    width: 91px;
    height: 26px;
    background-size:  91px 26px;
}

.background_blur input[type=radio]:checked+label
{
    background: url("./mob_controll_img/option_blur_on@2x.png");
    background-size:  91px 26px;
}

.background_black input[type=radio]+label
{
    display: inline-block;
    background: url("./mob_controll_img/option_black_off@2x.png");
    width: 91px;
    height: 26px;
    background-size:  91px 26px;
}

.background_black input[type=radio]:checked+label
{
    background: url("./mob_controll_img/option_black_on@2x.png");
    background-size:  91px 26px;
}

.background_white input[type=radio]+label
{
    display: inline-block;
    background: url("./mob_controll_img/option_white_off@2x.png");
    width: 91px;
    height: 26px;
    background-size:  91px 26px;
}

.background_white input[type=radio]:checked+label
{
    background: url("./mob_controll_img/option_white_on@2x.png");
    background-size:  91px 26px;
}

/*##########################이미지 contents #################################*/
.image
{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.imagetab
{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.imagetab input
{
    display: none;
}

.tab_imagelist input+label
{
    display: flex;
    width: 172px;
    height: 26px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border: 1px solid #c9c9c9;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.tab_imagelist input:checked+label
{
    background-color: #f28234;
    color: white;
}

.tab_votting input+label
{
    display: flex;
    width: 172px;
    height: 26px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border: 1px solid #c9c9c9;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.tab_votting input:checked+label
{
    background-color: #f28234;
    color: white;
}

.image_option
{
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;

}

.image_checkbox
{
    display: flex;
    height: 22px;
}

.image_checkbox input
{
    display: none;
}
.image_checkbox input+label
{
    background: url("./mob_controll_img/checkbox_unchecked@2x.png");
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
}

.image_checkbox input:checked+label
{
    background: url("./mob_controll_img/checkbox_checked@2x.png");
    background-size: 22px 22px;
}

.image_option span
{
    margin-top: 2px;
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto";

}

.dropdown {
    margin-left: 7px;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    color: #313233;
    width: 133px;
    height: 26px;
    padding: 1px 5px 0 12px;
    border: 1px solid #c9c9c9;
    border-radius: 13px;
    appearance: none;
    background: url(./mob_controll_img/dropdown_button@2x.png) no-repeat 98% 50%;
    background-size: 26px 26px;
    font-family: "Roboto";
    font-weight: 500;
    }

.dropdown option
{
    font-family: "Roboto";
    font-weight: 500;
}

.image_bottom_option
{
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.image_send_btn
{
    background-image: url(./mob_controll_img/button_send_imagesorvideos@2x.png);
    background-size: 249px 26px;
    width: 249px;
    height: 26px;
}

.image_all_delete_btn
{
    background-image: url(./mob_controll_img/button_deleteall@2x.png);
    background-size: 86px 26px;
    width: 86px;
    height: 26px;
}

.image_contents
{
    width: 100%;
    height: calc(100% - 129px);
}